*{
    background: #e6e2d3;
    
}

h6{
    font-size: 24px;
}


.subtitulo1{
    color: rebeccapurple;
    background: #dac292;
}

#titularDeComentario {
    color: #3e4444;
    background: #b9936c;
}